html,
body {
  height: 100%;
  margin: 0;
  background-color: darkgray;
}

body {
  background-image: url('./../images/background.png');
  background-repeat: no-repeat;
  /* fixed -- make sure the entire element is always covered */
  background-attachment: fixed;
  /* width -- 60%, height -- 80% */
  background-size: 60% 80%;
  background-position: center;
}

img {
  background: transparent;
  height: auto;
  width: 100px;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.top-half {
  flex: 4;
}

.bottom-half {
  flex: 1;
}

.header {
  position: relative;
  text-align: center;
  top: 25px;
}

.score-board,
.choice-display {
  display: flex;
  flex-direction: row;
}

.you-score,
.computer-score,
.player-selection-display,
.computer-selection-display {
  flex: 1;
  text-align: center;
  position: relative;
}

.computer-score,
.computer-selection-display {
  right: 15%;
  bottom: 10px;
}

.you-score,
.player-selection-display {
  left: 15%;
  bottom: 10px;
}

.verticle-line {
  border-left: 3px solid cadetblue;
  height: 120px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 66%;
}

.btn-selection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btn-rock {
  position: relative;
  right: 10px;
}

#btn-scissors {
  position: relative;
  left: 10px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
